<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inwhiter.inviteapp.project">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icooon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icooon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityB.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity android:name=".ActivityB.SignUpActivity" />
        <activity android:name=".ActivityH.MenuActivity" />
        <activity android:name=".ActivityH.TopicActivity" />
        <activity android:name=".ActivityH.TemplateActivity" />
        <activity android:name=".ActivityH.InfoActivity" />
        <activity android:name=".ActivityH.LayoutSS" />
        <activity android:name=".ActivityG.GuestEditActivity" />
        <activity android:name=".ActivityH.StartActivity" />
        <activity android:name=".ActivityD.PrintActivity" />
        <activity
            android:name=".ActivityB.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <service android:name=".BusinessG.FirebaseToken">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".BusinessG.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ActivityH.TemplateActivity2"
            android:theme="@style/PageTheme" />

        <activity
            android:name=".ActivityB.MainActivity"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>